<nav class="site-menu">
    <ul>
        <li>
            <a class='button' href="/">HOME</a>
        </li>
        <li>
            <a class='button' href="/">EDIT</a>
        </li>
        <li>
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username">

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password">

                <button type="submit" value="Submit">
            </form>
        </li>
    </ul>
</nav>