<%- include ('../partials/header') %>

<main class="page-content">

    <section class="has-entries-list">
        <inner-column>

            <ul>
                <% entries.forEach(e => { %>

                <%- include ('../partials/entry-card', {e}) %>

                <% }); %>
            </ul>

        </inner-column>
    </section>

</main>


<%- include ('../partials/footer') %>