<%- include ('../partials/header') %>

<main class="page-content">
    <% entries.forEach(e => { %>

    <section class="<%= e %>">
        <inner-column>

            <%- include(`../modules/${section.module}.ejs`,{ section: section })
            %>

        </inner-column>
    </section>


    <% }); %>
</main>


<%- include ('../partials/footer') %>